$powder-blue: #b1ddf1;
$russian-voilet: #231651;
$medium-turquoise: #4dccbd;
$lapis-lazuli: #2374ab;

$background-light: $powder-blue;
$text-primary: $russian-voilet;
$primary: $medium-turquoise;
$secondary: $lapis-lazuli;
